
body{
    
    background: url('../../images/8ce39d0b3eeae85e29fba556b1c7a7c9.jpg') no-repeat;
    background-size: cover;
}


.login-block {
    width: 400px;
    border-top: 5px solid #ff656c;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.43);
    margin: auto;
    padding: 20px;
    margin-top: 150px;
   
}
.login-block input {
	
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: cursive;
    padding: 0 20px 0 10px;
    height: 42px;

}
.login-block select {
	
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: cursive;
    padding: 0 20px 0 10px;
    height: 42px;

}
#check
{
    float: left;
    width: auto;
    margin-bottom: 0px;
   /* margin-top: 0px;*/
}
.login-block h1 {
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    color: rgb(255, 255,255) ;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: bold;
}
.login-block button {
    color: rgb(255,255,255);
    width:100%;
    height: 42px;
    font-size: 18px;
    text-transform: uppercase;
    background:  #ff656c;
    box-sizing: border-box;
    border: 1px solid #e15960;
    border-radius: 5px;  
    cursor: pointer;
   
}
.about {
    width: 100%;
}
a.link {
    color: #ffffff;
    
}
.float {
    float: right;
    text-decoration: none;
}

