
.login-blockk {
    width: 375px;
    padding: 20px;
    background: rgba(121, 85, 72, 0.06);
    border-radius: 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.66);
    margin: auto;
    margin-top: 0px;
}

.login-blockk h1 {
    text-align: center;
    color: rgba(0, 0, 0, 0.66);
    font-size: 25px;
    font-weight:lighter;
    margin-top: 0;
    margin-bottom: 20px;
}

.forgot {
    float: right;
    padding: 5px;
    margin-top: -5px;
    text-decoration: none;
    font-size: 15px;
  /*  color: rgba(0,0,0,0.76);*/
    color: #ffffff;
    font-weight: bold;
    font-family: sans-serif;
}


.box{
	
	height: 85px;
    float: right;
    margin: -35px 110px 7px 40px;   
}
.text{
	list-style:none;
	float: right;
    color: #ffffff;
    margin-top: 10px;
	
}

.text a{
	list-style:none;
	color: #ffffff;
	text-decoration:none;

}
.text ul{
	list-style:none;
	display:none;
}

.text li:hover  ul{
	list-style:none;
	display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.07);
    padding: 10px 10px;
    margin: 0px -10px;
    width: 100px;
}
.image{
	height: 75px;
    width: 75px;
    margin:-1px -3px;
	border:1px solid rgba(0, 0, 0, 0.38);
	border-radius:50%;
}
.logout{
    font-weight: bold;
    font-size: 22px;
    margin-top: 15px;
}

.bar{
	border: 1px solid rgba(0, 0, 0, 0.42);
	width:100%;
	height:140px;
	background-color:rgba(0, 0, 0,0.66);
    margin: -8px 0px 8px 0px;
}
.bar h1 {
    color: white;
    margin-left: 510px;
    margin-bottom: -15px;
    margin-top: 10px;
    font-size: 42px;
}
.logo {
    height: 90px;
    width: 290px;
    float: left;
}
.addiv
{
   background-color:rgba(0, 0, 0,0.50); 
    height: 60px;
    margin: -8px 0px 40px 0px;
}
.text_new{
    list-style: none;
    color: white;
    float: left;
}
.text_new a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding-right: 25px;
}
.text_new li{
    display: inline;
}
.abc{
	
	margin: -39px 72px;
    background-color: rgba(0, 0, 0, 0.66);
    border-radius: 25px;
    border: 0px;
    width: 80px;
    float: right;
    height: 35px;
	color: #fff;
    font-weight: bold;
    font-size: 1.03em;
}
button a{
    
	text-decoration:none;
	color: #fff;
}
.user_profile{
	width:95% !important;
}
.ch_prof_pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#imglink {
    border: 0px;
    padding-left: 5px;
    color: white;
    width: auto;
    background-color: rgba(0,0,0,0.01);
    
}
#description {
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: cursive;
    padding: 0 20px 0 10px;
}
tr:nth-child(even){
    background-color: rgba(158, 158, 158, 0.41);
}
.abcd{
    background-color: rgba(0, 0, 0, 0.66);
    border-radius: 19px;
    border: 0px;
	color: #fff;
    height: 25px;
    font-weight: bold;
}
.abcd:hover{
    cursor: pointer;
}
.abc:hover {
    cursor: pointer;
}